@import url('./columns-tokens.css');

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns p {
  font-size: var(--body-font-size-s);
  line-height: 1.6;
  margin: 0 0 1rem;
}

.columns a {
  color: var(--cards-cta-color, #4c7d7a);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--body-font-size-xs);
  font-weight: 600;
}

.columns a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: var(--columns-gap);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.columns-2-cols > div > .columns-img-col {
    flex: 0 0 33%;
  }
}
